[Unit]
Description=Docker secrets engine daemon (shim)
Documentation=https://github.com/chadsr/docker-secrets-engine-shim

[Service]
Type=simple
ExecStart=/usr/bin/docker-secrets-engine-shim
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=default.target
